<div class="file" id="f{post:id}">
    <div class="fileText" id="fT{post:id}">
        File: <a href="{file:fulllink}" target="_blank">{file:name}</a>
        ({file:size}, {file:dimensions})</div>
    <a class="fileThumb" href="{file:fulllink}" target="_blank">
        <img src="{file:thumbsrc}" alt="{file:size}" data-md5="{file:4chan-md5}"
            style="max-height: 250px; max-width: 250px;"/>
            <div class="mFileInfo mobile">{file:size} {file:ext}</div>
    </a>
</div>