<div class="postContainer replyContainer" id="pc{post:id}">
  <div class="sideArrows" id="sa{post:id}">&gt;&gt;</div>
  <div id="p{post:id}" class="post reply">

    <div class="postInfo desktop" id="pi{post:id}">
      <input type="checkbox" name="{post:id}" value="delete"/>
      <span class="subject">{post:subject}</span>

      <span class="nameBlock">
        {post:nameblock}
        {post:trip}
      </span>

      {post:posterid}

      <span class="dateTime" data-utc="{post:unixepoch}">{post:datetime}</span>
      <span class="postNum desktop">
        <a href="#p{post:id}" title="Highlight this post">No.</a>
        <a
                href="javascript:quote('{post:id}');" title="Quote this post">{post:id}</a>
      </span>
    </div>

    {post:file}
    <blockquote class="postMessage" id="m{post:id}">{post:comment}</blockquote>
  </div>
</div>
